.slot-number {
    font-size: 22vw;
    font-family: 'Viga', sans-serif;
    background-color: rgb(240, 241, 241);
    color: rgb(24, 24, 24);
    padding-left: 2pt;
    padding-right: 2pt;
}

.message {
    text-align: center;
    display: none;
    color: rgb(24, 24, 24);
    background-color: rgba(240, 248, 255, 0);
    
}

.center {
    text-align: center;
}



.tablecenter {
    
    margin-left: auto;
    margin-right: auto;
    
}

.firstDiv {
    position:relative;
  
    width: 80%;
    height:80%;
    top: 0%;
  
    margin-right: 10%;
    
    
      
    padding:10px;
}
  
.right-col {
    position:absolute;
    top:0px;
    left:100%;
    margin-top: 0%;
  
    width:18%;
    height:80%;
    
  
    
    padding:10px;
}

.lever {
    width: auto;
    height: 48vw;
    margin-top: 20%;
    background-color: rgba(0, 0, 0, 0);
    border-color:rgba(0, 0, 0, 0);
}






