/* Link appearance */
a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: rgb(128, 12, 12);
    background-color: transparent;
    text-decoration: underline;
  }
a:active {
    color: rgb(128, 12, 12);
    background-color: transparent;
    text-decoration: underline;
  }


html{
    --font-size: 40px;
}

.container{
    width: 80;
    height: auto;
}

.container-head{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;

}

@media screen and (max-width: 790px) {
    .container-head{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .slider-container{
        margin: 2rem 0;
    }
}

.slider-container{
    display: flex;
    align-items: center;
}

.font-size-text{
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 40px;
}

#slider {
    width: 20rem;
    height: 2px;
}

.items{
    width: 100%;
}

.row{
    width: 100%;
    padding: .3rem .3rem;
    border-bottom: 1px solid #aaa;
}

.row:nth-of-type(6){
    border-bottom: none
}

.row p {
    font-size: var(--font-size);
    font-family: 'Noto Sans JP', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

}

.row p::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(90deg, #00000000 10%, rgb(17, 17, 17) 60%);
    right: 0;
    top: 0;
}

/* Grid for Glyphs */
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color: #2195f300;
    padding: 10px;
}
  
.grid-item {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    height: 30pt;
    width: 30pt;
    font-size: 30px;
    text-align: center;
}